<!-- Popular Categories Widget -->
<div class="widget widget-categories">
  <h3 class="widget-title">Categories</h3>
  <ul class="category-list">
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories limit:8 %}
      {% assign cat_name = category[0] %}
      {% assign posts = category[1] %}
      {% assign post_count = posts | size %}

      <li class="category-item">
        <a href="{{ site.baseurl }}/category/{{ cat_name | slugify }}/">
          <span class="category-name">{{ cat_name }}</span>
          <span class="category-count">{{ post_count }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
